<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <title>{% block title %} {% endblock %} - ai PLotter Application</title>      
</head>
<body>
    <nav style="position: relative; width: 100%; border: 1px solid;">
        <a style="color: black; margin: 20px; display: inline-block;" href="{{ url_for('responses') }}">Responses</a>
        <a style="color: black; margin: 20px; display: inline-block;" href="{{ url_for('entry') }}">Get Response</a>
    </nav>
    <div class="line">
        {% block content %} {% endblock %}
    </div>

<script src="{{url_for('static', filename='js/script.js')}}"></script>

</body>
</html>

