{% extends 'base.html' %}

{% block content %}
<div id="form-container">
    <h1 id="prompt-question" class="prompt-entry">{% block title %} Prompt Question {% endblock %}</h1>
    <form method="post">
        <p>
        <label class="prompt-answer-label" for="response">ENTER YOUR RESPONSE</label>
        <textarea id="answer-textarea" class="prompt-textarea"name="response"
                  placeholder="Be as elaborate as you can"
                  rows="15"
                  cols="60"
                  onkeydown="pressed(event)"
                  autofocus
                  ></textarea>
        </p>
        <label id="prompt-help-label" for="response">Press enter to submit</label>
        <p>
            <button style="display: none;" type="submit">Submit</button>
        </p>
    </form>
</div>

<div id="modal-container" class = "one">
    <div id="modal-background-id" class="modal-background">
      <div class="modal">
        <div class="loader"></div>
        <h2 id="modal-heading-text" class="modal-heading">Drawing</h2>
        <p class="modal-text">Please wait for the drawing to complete</p>
      </div>
    </div>
  </div>
{% endblock %}
