{% extends 'base.html' %}

{% block content %}
    <h1 id="prompt" style="width: 100%">{% block title %} Prompt Question {% endblock %}</h1>
    <form method="post">
        <p>
        <label for="response">Enter your response</label>
        <br>
        <textarea name="response"
                  placeholder="Be as elaborate as you can"
                  rows="15"
                  cols="60"
                  ></textarea>
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
{% endblock %}
